/*table,th,td{
    border : 2px solid ;
    border-collapse: collapse;
}
td{
    align-content: center;
}
table{
    width : 25%;
    height : 40%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30pt 30ppt;
    
}
body{
    align-content: center;
    background-color: coral;
}
button:hover{
    background-color: yellow;
}


button{
    width: 100px;
    height: 75px;
    font-weight: bold;
    background-color: rgb(148, 148, 148);
}*/

 button.logout:hover{
    background-color: red;
    box-shadow: 0 12px 216px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
} 

table{
    vertical-align: middle;
    border-spacing: 10pt 300pt;
    margin-left: auto;
    margin-right: auto;
}