h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: white;
    size: 50px;
}

.cog-key {
    font-size: 750%;
    background: -webkit-linear-gradient(#27ef9f, #0db8de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 50%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 45 %;
    left: 45%;
}

@media (prefers-reduced-motion: no-preference) {
    div img {
        animation: Login-spin infinite 2.5s linear;
        /* width:20%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        */
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
    }
}

@keyframes Login-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
