@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background: #222d32;
    font-family: "Roboto", sans-serif;
}

.quiz-box {
    margin-top: 75px;
    height: auto;
    background: #1a2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.quiz-img {
    margin-top: 20px;
    height: 100px;
    font-size: 100px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27ef9f, #0db8de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quiz-title {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ecf0f5;
}

.btn-qb-neon-primary {
    border-radius: 40px;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    transition: 0.2s all;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid aqua;
}

.btn-qb-neon-primary:hover {
    background: #26a0da;
    color: #000;
    box-shadow: 0px 0px 5px #26a0da, 0px 0px 20px#26a0da, 0px 0px 40px #26a0da;
    transition-delay: 0.2s;
}
